* {
	margin: 0;
	padding: 0;
	border: 0;
}

#resizeBar 
{
	position: fixed; 	
	bottom: 0px;		
	top: 0px;
	right: 0px;
	left: 50%;
	width: 1px;
	overflow: hidden;	
	z-index: 10;
	background-color: #00a5ff;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	cursor: url(../Images/arrowResize.png) 8 8, auto;
}

#rightMap
{	
	position: fixed; 	
	bottom: 0px;		
	top: 0px;
	right: 0px;
	left: 0px;
	width: 50%;
	overflow: hidden;	
	background-color: White;
	z-index: 2;
}

#leftMap
{	
	position: fixed; 	
	bottom: 0px;		
	top: 0px;
	right: 0px;
	left: 50%;
	width: 50%;
	overflow: hidden;	
	background-color: White;
	z-index: 2;
}

#rid, #rbar
{
	left: 5px;
}
#lid, #lbar
{
	left: 51%;
}

.textId
{	
	width: 200px;
	position: absolute;
	bottom: 25px;
	opacity: 0.5;
	z-index: 1000;	
	font-family: 'helvetica', 'arial', sans-serif;
	font-size: large;
}

.bottomBar
{	
	width: 200px;
	position: absolute;
	height: 15px;
	bottom: 5px;
	left: 5px;
	background-color: #eeeebb;
	border: #ccccaa 1px solid;
	z-index: 1000;	
}
#rlat, #llat
{
	font-family: 'helvetica', 'arial', sans-serif;
	left: 5px;
	position: absolute;
	width: 100px; 
	font-size: smaller;
}
#rlon, #llon
{  
	font-family: 'helvetica', 'arial', sans-serif;
	left: 105px;
	position: absolute; 
	font-size: smaller;
}

#cursorClone
{  
	position: absolute; 
	left: -20px;
	top: -25px;
	width: 16px;
	height: 23px;
	/*display: none;*/
	z-index: 2000;
	background-image:url(../Images/cursorClone.png) !important;
}

#settingsButton
{
	position: absolute; 
	left: 5px;
	top: 5px;
	width: 32px;
	height: 32px;
	background-image:url(../Images/settings.png) !important;
	z-index: 1000;
}

#settingsPanel
{
	position: absolute; 
	left: 42px;
	top: 7px;

	background-color: #ffffff;
	border: #00a5ff 1px solid;
	z-index: 1100;
	opacity: 0.85;
	visibility: hidden;
	border-radius: 5px 5px 5px 5px;
}

.setting
{
	margin-left: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 8px;
	height: 20px;
	font-family: Helvetica, Arial, sans-serif; 
	color: #002244;
}

input
{
	margin-right: 8px;
}

.centerMarker
{  
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
	background-image:url(../Images/cursorClone.png) !important;
	background-repeat: no-repeat;
    background-position: center; 
}